.linear-gradient {
  background: linear-gradient(90.2deg, #1e3a5f 0.13%, #142843 99.79%);
}

.angled-section {
  position: relative;
  margin-top: -3.5rem;
  margin-bottom: -3.5rem;
  z-index: 10;
  clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 calc(100% - 3rem));
}
